body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #DA9174;
}
header {
  background: #B34846;
  color: white;
  padding: 50px 20px;
  text-align: center;
}
header h1 {
  margin: 0;
  font-size: 3em;
}
.map-section {
  height: 100vh;
}
#map {
  height: 100%;
  width: 100%;
}
.leaflet-popup-content {
  font-size: 0.9em;
}
@media (max-width: 768px) {
  .leaflet-container {
    width: 100vw !important;
    height: 80vh !important;
  }
}